*{
    margin:0;
    padding: 0;
}

.header{
    height: 100vh;
}

.navbar-style{
    box-shadow: 0 5px 10px #d3cece;
    text-transform: uppercase;
    padding-top: 8px;
}

.logo{
    height: 80px;
    padding: 1px 8px;
}


.icon-bar{
    background: black;
}

#don{
    color: white;
    background-color: rgb(68, 68, 141);
    margin: 10px;
    padding: 3px;
}

.big-text{
    font-size: 30px;
    margin: 20px 0;
    color: rgb(68, 68, 141);
}



.col-sm-4{
    padding: 50px;
    margin: 10px;
}


.col-sm-5{
    padding: 50px;
    margin-left: 80px;

}

.col-sm-5>.image-responsive{
    border-radius: 25px;
}
