*{
    margin:0;
    padding: 0;
}

.header{
    height: 15vh;
}

.navbar-style{
    box-shadow: 0 5px 10px #d3cece;
    text-transform: uppercase;
    padding-top: 8px;
}

.logo{
    height: 80px;
    padding: 1px 8px;
}


.icon-bar{
    background: black;
}

#don{
    color: white;
    background-color: rgb(68, 68, 141);
    margin: 10px;
    padding: 3px;
}

.big-text{
    font-size: 30px;
    margin: 20px 0;
    color: rgb(68, 68, 141);
}



.col-sm-4{
    padding: 50px;
    margin: 10px;
}


.col-sm-5{
    padding: 50px;
    margin-left: 80px;

}

.col-sm-5>.image-responsive{
    border-radius: 25px;
}

#main{
    background-color: #f2f2f2;
    margin-bottom: 10svh;
}

.flexcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


input[type=text], select, textarea {
    width: 50%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }


  #talk{
    background-color: #f2f2f2;
  }
  

  .talk-us {
    border-radius: 5px;
    padding: 20px;
    margin-top: 15vh;
  }

  .talk-us h2{
    text-align: center;
  }


  .col>ul>li{
    text-decoration: none;
    list-style: none;
  }

  .abt{
    text-align: center;
    margin: 15vh;
  }


  .footer>.links>ul>li{
    list-style: none;
    padding: 10px;
  }


  .footer>.partners>ul>li{
    list-style: none;
    padding: 10px;
  }



.footer{
    height:250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
}

.last{
    align-content: center;
}

footer>.last-h4{
    text-align: center;
}



